@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section">
    <div class="hero-content">
        <h1>Track Your Job Applications</h1>
        <p>Stay organized. Prepare better. Get hired faster.</p>

        <div class="hero-buttons">
            <a href="/JobApplications/Create" class="btn btn-primary">+ Add Application</a>
            <a href="/Dashboard" class="btn btn-outline-light">View Dashboard</a>
        </div>
    </div>
</div>